
.card{
    width: 400px;
    border: 1px solid #e6e6e6;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
}
.status{
    font-size: 14px;
    border-radius: 30px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 3px;
    margin: 5px;
}

.status.open{
    background-color: #b6f3cb;
    color: #157436;
}
.status.closed{
    background-color: #f3b6b6;
    color: #741515;
}