.survice-p{
    background-color: #cec8ff;
    font-size: 14px;
    border-radius: 30px;
    width: 200px;
    padding: 10px;

}
.layout{
      background: linear-gradient(135deg, #6a5af9, #b66bff);
      width: 100vw; 
  height: 100vh;

}