
.card{
    width: 400px;
    border: 1px solid #e6e6e6;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;

        

}
.cardallign {
  display: flex; 
  gap: 16px;    
  flex-wrap: wrap;    
  justify-content: flex-start; 
}
.status{
    font-size: 14px;
    border-radius: 30px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 3px;
    margin: 5px;
}

.status.open{
    background-color: #b6f3cb;
    color: #157436;
}
.status.closed{
    background-color: #f3b6b6;
    color: #741515;
}
.card-actions button {
  background: none;
  color: #a7a7a7;
  border: none;
  cursor: pointer;
  font-size: 18px; 
  margin-right: 8px;
  transition: 0.2s;
}

.card-actions button:hover {
  opacity: 0.7;
}
.card-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;          
  margin-bottom: 2px;
}

.card-actions {
  display: flex;
}