.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: white;
  padding: 14px 40px;
  font-family: "Pretendard", sans-serif;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo a {
  color: rgb(20, 20, 20);
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 24px;
}

.nav-item {
  color: rgb(30, 30, 30);
  text-decoration: none;
  font-size: 16px;
}

.nav-item:hover {
  color: #6a5af9;
}

.nav-item.active {
  color: #6a5af9;
  border-bottom: 1px solid #7c68ff;
}
body {
  margin: 0;
}